/* Styling Assignment Two - using Flexbox and Grid layout */

:root {
  --text-font: Arial, sans-serif;
  --background-color: #f0f0f5;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  background-color: var(--background-color);
  margin: 0;
}

header {
  background-color: #212122;
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

header nav a {
  color: #a9a9ac;
  text-decoration: none;
  padding: 0 18px;
  font-size: 16px;
}

/* Styling Hero Section */
.hero {
  background-image: url('Phones.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 1rem;
  padding-top: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Hero Heading */
.hero h1 {
  font-size: 56px;
  font-weight: normal;
  color: #262525;
  margin-bottom: 5px;
}

/* Hero Paragraph */
.hero p {
  font-size: 1.2rem;
  color: #2a2a2a;
  margin-bottom: 5px;
  text-align: center;
}

/* Hero Link */
.hero a {
  font-size: 1rem;
  text-decoration: none;
  color: #4c4b4b;
  border: 1px solid #373636;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

/* Product higlights section using grid */
.product-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}




