:root {
  --text-font: Arial, sans-serif;
  --background-color: #f0f0f5;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  background-color: var(--background-color);
  margin: 0;
}

header {
  background-color: #131316;
  height: 60px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header nav a {
  color: #a9a9ac;
  text-decoration: none;
  padding: 0 18px;
  font-size: 16px;
}