/* Styling Assignment Two - using Flexbox and Grid layout */

:root {
  --text-font: Arial, sans-serif;
  --background-color: #f0f0f5;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  background-color: var(--background-color);
  margin: 0;
}

header {
  background-color: #212122;
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

header nav a {
  color: #a9a9ac;
  text-decoration: none;
  padding: 0 18px;
  font-size: 16px;
}

header nav a:hover {
  color: #ffffff;
  transition: color 0.2s;
}

/* Styling Hero Section */
.hero {
  background-image: url('Phones.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 1rem;
  padding-top: 6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Hero Heading */
.hero h1 {
  font-size: 56px;
  font-weight: normal;
  color: #262525;
  margin-bottom: 0.5px;
}

/* Hero Paragraph */
.hero p {
  font-size: 1.2rem;
  color: #2a2a2a;
  margin-bottom: 5px;
  text-align: center;
}

/* Hero Link */
.hero a {
  font-size: 1rem;
  text-decoration: none;
  color: #666667;
  border: 1px solid #666667;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

/* Add hover effect to the hero link */
.hero a:hover {
  background-color: #666667;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}     

/* Product higlights section using grid */
.product-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Another Headline 1 */
.product-highlights article:nth-child(1) {
  background-image: url('anotherheadline1.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 0rem 0rem 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.product-highlights article:nth-child(1) h2 {
  font-size: 2rem;
  font-weight: normal;
  color: #e7e7ea;
  margin-bottom: 0.5px;
}

.product-highlights article:nth-child(1) p {
  font-size: 1rem;
  color: #e7e7ea;
  margin-bottom: 2px;
  text-align: center;
}

/* Another Headline 2 */
.product-highlights article:nth-child(2) {
  background-image: url('anotherheadline2.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 1rem 0rem 0rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Another Headline 3 */
.product-highlights article:nth-child(3) {
  background-image: url('anotherheadline2.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 0rem 0rem 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Another Headline 4 */
.product-highlights article:nth-child(4) {
  background-image: url('anotherheadline3.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 1rem 0rem 0rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Another Headline 5 */
.product-highlights article:nth-child(5) {
  background-image: url('anotherheadline4.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 0rem 0rem 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Another Headline 6 */
.product-highlights article:nth-child(6) {
  background-image: url('anotherheadline4.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 1rem 0rem 0rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Another Headline 7 */
.product-highlights article:nth-child(7) {
  background-image: url('anotherheadline4.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 0rem 1rem 1rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Another Headline 8 */
.product-highlights article:nth-child(8) {
  background-image: url('anotherheadline4.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0rem 1rem 1rem 0rem;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}


