body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.content {
    border: 1px solid black;
    padding: 2rem 2.5rem;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

button {
    margin-top: 10px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 8px;
}

button:hover {
    background-color: #bbbbbb;
    transition: background-color 0.3s ease;
}

/* Dark mode class */
.dark-mode {
    background-color: #222;
    color: white;
    border-color: white;
}

.dark-mode input {
    background-color: #333;
    color: white;
    border-radius: 6px;
    border-color: white;
}